#jinja2: trim_blocks: False

router bgp {{ bgp.as }}
  no bgp default ipv4-unicast
  {% for neighbor in bgp.peers %}
    neighbor {{ neighbor.host }} remote-as {{ neighbor.remote_as}}
    {% if neighbor.update_source %}
    neighbor {{ neighbor.host }} update-source {{ neighbor.update_source }}
    {% endif %}
    {% if neighbor.ebgp_multihop %}
    neighbor {{ neighbor.host }} ebgp-multihop
    {% endif %}
    {% if neighbor.next_hop_self %}
    neighbor {{ neighbor.host }} next-hop-self
    {% endif %}    
  {% endfor %}
  {% for neighbor in bgp.peers %}
    {% if neighbor.address_families %}
    {% for af in neighbor.address_families %}
      address-family {{ af }} unicast
      neighbor {{ neighbor.host }} activate
      {% if neighbor.route_reflector_client %}
      neighbor {{ neighbor.host }} route-reflector-client
      {% endif %}     
  {% endfor %}
{% endif %}
  {% endfor %}
  {% if bgp.networks %}
      {% for network in bgp.networks %}
          network {{ network.subnet }} mask {{ network.mask }}
      {% endfor %}
  {% endif %}