{% for l3vpn in l3vpns %}
  vrf {{ l3vpn.vrf }}
  {% for af in l3vpn.address_families %}
    address-family {{ af.family }} unicast
    import route-target {{ af.rt_import }}
    export route-target {{ af.rt_export }}
  {% endfor %}
  {% for interface in l3vpn.interfaces %}
    interface {{ interface.intf }}
    no ip address
    no ipv6 address
    vrf {{ l3vpn.vrf }}
    {% if interface.ipv4_add %}
      ipv4 address {{ interface.ipv4_add }}/{{ interface.mask }}
    {% endif %}
  {% endfor %}    
{% endfor %}

{% for l3vpn in l3vpns %}
{% if l3vpn.routing %}    

{% if l3vpn.routing.type == "static" %}
router bgp {{ bgp.as }}
  vrf {{ l3vpn.vrf }}
  rd {{ l3vpn.rd }}
  address-family ipv4 unicast 
    redistribute static metric {{ l3vpn.routing.metric }}
  {% for network in l3vpn.routing.networks %}
    router static vrf {{ l3vpn.vrf }} address-family ipv4 unicast {{ network.subnet }}/{{ network.mask }} {{ network.next_hop }}
  {% endfor %}            
{% endif %}

{% endif %}
{% endfor %}

