router bgp {{ bgp.as }}
    no bgp default ipv4-unicast
    {% for neighbor in bgp.peers %}
        neighbor {{ neighbor.host }} remote-as {{ neighbor.remote_as }}
        {% if neighbor.update_source %}
            neighbor {{ neighbor.host }} update-source {{ neighbor.update_source }}
        {% endif %}
        {% if neighbor.next_hop_self %}
            neighbor {{ neighbor.host }} next-hop-self
        {% endif %}
        {% for af in bgp.address_families %}
            {% if af %}
                address-family {{af.key().name()}} unicast
                    {{ neighbor.host }} activate
            {% endif %}
        {% endfor %}
    {% endfor %}
    {% if bgp.networks %}
        {% for network in bgp.networks %}
            network {{ network.subnet }} mask {{ network.mask }}
        {% endfor %}
    {% endif %}