{% for interface in interfaces %}
    interface {{ interface.intf }}
        ip address {{ interface.ip_address }} {{ interface.mask }}
        {% if interface.state == "up" %}
            no shut
        {% endif %}
        {% if interface.ipv6_address %}
            ipv6 address {{ interface.ipv6_address }}
        {% endif %}
{% endfor %}