{% for interface in interfaces %}
    interface {{ interface.intf }}
    ipv4 address {{ interface.ip_address }}/{{ interface.mask }}
    {% if interface.state == "up" %}
        no shutdown
    {% endif %}
{% endfor %}
commit