router isis {{ isis.process_id }}
{% for interface in isis.interfaces %}
  {% if interface.network_type %}
    interface {{ interface.intf }}
      {{ interface.network_type }}
  {% endif %}
{% endfor %}